@font-face {
  font-family: "Speedee-Bold";
  font-weight: normal;
  src: url("./fonts/Speedee-Bold.ttf")
}

body {
  margin: 0;
  font-family: Speedee-Bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Speedee-Bold;
}
